<mat-toolbar style="background-color: #fef713;">
    
    <a [routerLink]="['/login']" class="primary"> 
      <img src="https://www.kriyaglobalitservices.com/assets/finalLogo/only_logo.png" alt="Logo" class="logo"/></a>
  
    <div class="logo">Logo</div>
    <div class="extra"></div>
    <mat-icon> <a [routerLink]="['/login']" class="primary">login</a></mat-icon>
    <div class="login">Login</div>
    <mat-icon> <a [routerLink]="['/home']" class="primary">home</a></mat-icon>
    <div class="home">Home</div>
    <mat-icon> <a [routerLink]="['/contact']" class="primary">contacts</a></mat-icon>
    <div class="contacts">Contacts</div>
    
    <mat-icon> <a [routerLink]="['/share']" class="primary">share</a></mat-icon>
    <div class="contacts">Share</div>
   
  </mat-toolbar>
  